<%- include('partials/header') %>
    <div id="page-content">
        <div id="hero-div" style="display: flex; align-items: center; padding: 4em 5%;">
            <div class="hero-content" style="width: 50%;">
                <h1 style="font-size: 3.5em; line-height: 1.2;">Find Reviews for any CSE Course</h1>
                <p style="margin: 20px 0; font-size: 1.1em;">Discover, review, and share your learning journey. Join the community today.</p>
                <div class="hero-buttons">
                    <!-- Link to CRUD functionality -->
                    <a href="/read" class="button-primary">View Users</a>
                    <a href="/features" class="button-secondary">Learn More</a>
                </div>
            </div>
            <div class="hero-image" style="width: 50%; text-align: right;">
                <img src="/images/flow.webp" alt="Workflow" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
<%- include('partials/footer') %>